<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head'); %>
  </head>
  <body>
    <%- include('./includes/header'); %>
    <main><%- include('./includes/main'); %></main>
    <%- include('./includes/footer'); %>
  </body>
</html>
