<header>
  <div class="container">
    <a class="logo" href="/">
      <img
        class="parcel"
        src="https://parceljs.org/parcel.fb905a63.png"
        srcset="https://parceljs.org/parcel@2x.1a67634b.png 2x"
        width="38"
        height="30"
        alt=""
      />
      <img
        class="parcel-text"
        src="https://parceljs.org/logo.49e8bbc1.svg"
        alt="Parcel"
        width="120"
        height="25"
      />
    </a>
    <h1>parcel-transformer-ejs</h1>
    <p>
      <strong>parcel-transformer-ejs</strong> is a parcel v2 transformer plugin
      for EJS. <br />
      HMR support for ejs includes.
    </p>
    <p>
      <img
        src="https://img.shields.io/npm/dw/parcel-transformer-ejs"
        alt="npm downloads"
      />
      <img
        src="https://img.shields.io/npm/v/parcel-transformer-ejs"
        alt="latest version"
      />
    </p>
  </div>
</header>
